extends layout

block content
  #map 

  #infos

    #stationsTable
            table.table.table-striped
                tr
                    th
                    th Profil
                    th Zeit (in Minuten)
                    th Stationstyp 
                    th Anzahl der Stationen
                
                each n, index in stationData
                    tr
                        td
                            input(type='checkbox' class='chb' id=n._id)
                        td= n.properties.Profile
                        td= n.properties.Minutes 
                        td= n.properties.StationType 
                        td= n.properties.NumberStations
    
    button(class="btn btn-danger" id='deleteButton') Löschen

  script.
        var stations = !{JSON.stringify(stationData)}