extends layout

block content
  #map 

  #infos
    #stationsTable
            table.table.table-striped
                tr
                    th
                    th Profil
                    th Zeit (in Minuten)
                    th Stationstyp 
                    th Anzahl der Stationen
                
                each n, index in stationData
                    tr.tablerow(id=n._id)
                        td
                            input(type='checkbox' class='chb' id=n._id)
                        td= n.properties.Profile
                        td= n.properties.Minutes 
                        td= n.properties.StationType 
                        td= n.properties.NumberStations
    
    button(class="btn btn-danger" id='deleteButton') Löschen

    br
    br

    #scenariosTable
            table.table.table-striped
                tr
                    th 
                    th Szenario
                
                
                    tr
                        td
                                input(type='radio' class='chbd' id="2022")
                        td  Ladebedarf 2022
                    tr
                        td
                                input(type='radio' class='chbd' id="2025")
                        td  Ladebedarf 2025
                    tr 
                        td
                                input(type='radio' class='chbd' id="2030")
                        td  Ladebedarf 2030
                    tr 
                        td 

                        td
                    tr 
                        td
                                input(type='radio' class='chbd' id="Karte")
                        td  Layer aus
    
    .div1                 
        .my-legend
            .legend-scale
                p Ladebedarf in Minuten pro Pixel
                ul#legend.legend-labels

    script.
        var stations = !{JSON.stringify(stationData)}